body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #1d1b20;
}

.company-pane,
.question-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.company-pane {
  align-items: center;
  justify-content: end;

  background-color: #65558f;
  width: 25vw;
}

.company-pane-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #ffffff;
}

.company-list {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;

  overflow-y: auto;
  scrollbar-color: #4f378a #65558f;
}

.company-list > div {
  border-radius: 40px;
  background-color: #4f378a;
  padding: 10px 25px;
  margin: 10px 5px;
  color: #ffffff;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.question-pane {
  width: 75vw;
}

.question-pane-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #ffffff;
}

.leetcode-list {
  overflow-y: auto;
  scrollbar-color: #7D5260 #1d1b20;
  margin: 0px 20px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #D9D9D9;
}

.leetcode-list.completed {
  opacity: 0.5;
  pointer-events: none;
}

.completed {
  background-color: #e0e0e0;
  color: #aaa;
}

.completed-text {
  color: rgb(0, 110, 0);
  font-weight: bold;
  margin-left: 10px;
}

.refresh-button {
  margin-top: 0px;
}

.leetcode-checkbox {
  transform: scale(1.2);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-bottom: 20px;
  padding: 25px 25px 25px 25px;
}

.search-company-input {
  width: 100%;
  padding: 15px 15px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0px;
}

.add-company-button {
  background-color: #4f378a;
  color: #ffffff;
  padding: 10px 70px;
  font-size: 15px;
  border-radius: 20px;
  border: 0px;
  margin-top: 20px;
}

.add-company-button:hover {
  background-color: #463178;
}

.add-company-button:active {
  background-color: #37275e;
}

.dropdown {
  position: absolute;
  bottom: 90%;
  left: 10%;
  right: 10%;
  background-color: #e8def8;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: #7d5260 #e8def8;
  display: none;
}

.dropdown div {
  padding: 10px;
  cursor: pointer;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}
