body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #1d1b20;
}

.company-pane,
.question-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-pane {
  justify-content: end;

  background-color: #65558f;
  width: 25vw;
}

.question-pane {
  width: 75vw;
}

.info-container {
  display: flex;
  width: 700px;
  gap: 50px;
  margin: 20px auto 20px auto;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  max-width: 400px;
  margin: 20px auto 20px auto;
}

.scroll-list {
  max-height: 350px;
  overflow-y: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.leetcode-list.completed {
  opacity: 0.5;
  pointer-events: none;
}

.completed {
  background-color: #e0e0e0;
  color: #aaa;
}

.completed-text {
  color: rgb(0, 110, 0);
  font-weight: bold;
  margin-left: 10px;
}

.refresh-button {
  margin-top: 0px;
}

.leetcode-checkbox {
  transform: scale(1.2);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-bottom: 20px;
  padding: 50px 80px 30px 80px;
}

.search-company-input {
  width: 100%;
  padding: 15px 15px;
  font-size: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0px;
}

.add-company-button {
  background-color: #4f378a;
  color: #ffffff;
  padding: 10px 70px;
  font-size: 20px;
  border-radius: 20px;
  border: 0px;
  margin-top: 30px;
}

.add-company-button:hover {
  background-color: #463178;
}

.add-company-button:active {
  background-color: #37275e;
}

.dropdown {
  position: absolute;
  bottom: 85%;
  left: 10%;
  right: 10%;
  background-color: #e8def8;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

.dropdown div {
  padding: 10px;
  cursor: pointer;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}
